*{
    margin: 0 0 0 0;
}
ul{
    list-style: none;
}
header{
    text-align: center;
    background-color: aquamarine;
    
}
body{
    background-color: bisque;
    text-align: center;
}

section{
    margin-top: 10%;
    line-height: 5vh;
}